/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/assets/_general-styles.scss */
.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* line 1, ../sass/main-elements/_buttons.scss */
.button {
  outline: none;
  background: #e84545;
  border: none;
  color: #ffffff;
  line-height: 35px;
  padding: 0 20px;
  cursor: pointer;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 63, ../sass/main-elements/_buttons.scss */
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 70, ../sass/main-elements/_buttons.scss */
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 1, ../sass/sections/_welcome.scss */
.welcome-section {
  background-image: url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 0 15px;
}

/* line 14, ../sass/sections/_welcome.scss */
.welcome-section__header {
  font-size: 50px;
  max-width: 700px;
}

/* line 18, ../sass/sections/_welcome.scss */
.welcome-section__header, .welcome-section__content {
  text-align: center;
}

/* line 21, ../sass/sections/_welcome.scss */
.welcome-section__content {
  max-width: 830px;
  margin: 25px 0;
}

/* line 1, ../sass/sections/_features-section.scss */
.feature-item {
  max-width: 365px;
  margin: 0 10px 20px;
}

/* line 5, ../sass/sections/_features-section.scss */
.feature-item__image {
  width: 60px;
  height: 60px;
  background: url("../images/skill-icons.png");
  display: inline-block;
}

/* line 11, ../sass/sections/_features-section.scss */
.feature-item:nth-child(2) .feature-item__image {
  background-position-x: -60px;
  width: 73px;
}

/* line 15, ../sass/sections/_features-section.scss */
.feature-item:nth-child(3) .feature-item__image {
  background-position-x: -133px;
  width: 41px;
}

/* line 19, ../sass/sections/_features-section.scss */
.feature-item:nth-child(4) .feature-item__image {
  background-position-x: -174px;
  width: 56px;
}

/* line 23, ../sass/sections/_features-section.scss */
.feature-item:nth-child(5) .feature-item__image {
  background-position-x: -230px;
  width: 72px;
}

/* line 27, ../sass/sections/_features-section.scss */
.feature-item:nth-child(6) .feature-item__image {
  background-position-x: -302px;
  width: 79px;
}

/* line 31, ../sass/sections/_features-section.scss */
.feature-item__title {
  font-weight: bold;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 37, ../sass/sections/_features-section.scss */
.feature-item__content {
  line-height: 18px;
  font-size: 14px;
}

/* line 1, ../sass/sections/_works-section.scss */
.works-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* line 6, ../sass/sections/_works-section.scss */
.work-item {
  position: relative;
  max-width: 25%;
  overflow: hidden;
  cursor: pointer;
}

/* line 12, ../sass/sections/_works-section.scss */
.work-item__image {
  height: 100%;
  width: 100%;
}

/* line 16, ../sass/sections/_works-section.scss */
.work-item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 107, 68, 0.4);
  top: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  display: none;
}

/* line 29, ../sass/sections/_works-section.scss */
.work-item:hover .work-item__overlay {
  display: flex;
  text-decoration: none;
}
/* line 33, ../sass/sections/_works-section.scss */
.work-item:hover .work-item__image {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* line 39, ../sass/sections/_works-section.scss */
.work-item__overlay_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 4, ../sass/sections/_our-team.scss */
.team-member {
  max-width: 270px;
  text-align: left;
  margin: 0 10px 25px;
}

/* line 9, ../sass/sections/_our-team.scss */
.team-member__details {
  margin-top: 20px;
}

/* line 12, ../sass/sections/_our-team.scss */
.team-member__det_name {
  font-size: 25px;
  font-weight: bold;
}

/* line 16, ../sass/sections/_our-team.scss */
.team-member__det_position {
  color: #e84545;
  text-transform: uppercase;
  margin: 5px 0 20px;
}

/* line 21, ../sass/sections/_our-team.scss */
.team-member__det_description {
  line-height: 20px;
  margin-bottom: 15px;
}

/* line 26, ../sass/sections/_our-team.scss */
.team-member__det_socials > a {
  width: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #c6cacc;
  border: 1px solid #c6cacc;
  text-decoration: none;
  text-align: center;
  margin-right: 5px;
}

/* line 36, ../sass/sections/_our-team.scss */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 45, ../sass/sections/_our-team.scss */
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* line 1, ../sass/sections/_testemonials.scss */
.testimonial-item {
  display: flex;
}

/* line 5, ../sass/sections/_testemonials.scss */
.testimonial__img, .testimonial__text {
  width: 50%;
}

/* line 8, ../sass/sections/_testemonials.scss */
.testimonial__text {
  background: #53354a;
  color: #ffffff;
  padding: 5% 0 0 7%;
}

/* line 13, ../sass/sections/_testemonials.scss */
.testimonial__text_comment {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
  max-width: 500px;
}

/* line 20, ../sass/sections/_testemonials.scss */
.testimonial__text_comment-author {
  margin: 20px 0 50px;
}

/* line 24, ../sass/sections/_testemonials.scss */
.owl-dots {
  position: absolute;
  bottom: 15%;
  right: 40%;
}
/* line 29, ../sass/sections/_testemonials.scss */
.owl-dots .owl-dot span {
  background: #D6D6D6;
  opacity: 0.4;
}
/* line 35, ../sass/sections/_testemonials.scss */
.owl-dots .active span {
  background: #ffffff !important;
  opacity: 1;
}

/* line 1, ../sass/sections/_download-section.scss */
.download-section {
  padding: 50px 0;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

/* line 8, ../sass/sections/_download-section.scss */
.download__title {
  font-size: 35px;
}

/* line 11, ../sass/sections/_download-section.scss */
.download__text {
  font-weight: bold;
  margin: 15px 0 30px;
}

/* line 15, ../sass/sections/_download-section.scss */
.download_btn {
  width: 220px;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
}

/* line 1, ../sass/main-elements/_header.scss */
.main-header {
  width: 100%;
  z-index: 100;
  position: absolute;
}

/* line 6, ../sass/main-elements/_header.scss */
.main-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 25px 0;
}

/* line 18, ../sass/main-elements/_header.scss */
.logo, .main-header-navigation_link {
  color: #ffffff;
  text-decoration: none;
}
/* line 21, ../sass/main-elements/_header.scss */
.logo:hover, .main-header-navigation_link:hover {
  text-decoration: none;
}

/* line 25, ../sass/main-elements/_header.scss */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

/* line 29, ../sass/main-elements/_header.scss */
.main-header-navigation {
  margin-left: auto;
  transition: background 0.5s;
}

/* line 33, ../sass/main-elements/_header.scss */
.main-header-navigation_link {
  margin-left: 20px;
  text-transform: uppercase;
}

/* line 38, ../sass/main-elements/_header.scss */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* line 49, ../sass/main-elements/_header.scss */
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 54, ../sass/main-elements/_header.scss */
.fixed-header {
  position: fixed;
  transition: all 0.5s;
  background: #313454;
}
/* line 58, ../sass/main-elements/_header.scss */
.fixed-header .main-header__container {
  transition: padding 0.5s, border 0.5s;
  border-bottom: none;
  padding: 15px 0;
}

/* line 65, ../sass/main-elements/_header.scss */
.main-header .expanded-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(49, 52, 84, 0.85);
}

/* line 81, ../sass/main-elements/_header.scss */
.sandwich-icon {
  display: none;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  height: 20px;
  padding: 13px 13px 11px;
  position: relative;
  text-decoration: none;
  text-indent: -9999em;
  width: 20px;
  right: -2px;
  z-index: 100;
  background: #e84545;
  border-radius: 25px;
}
/* line 96, ../sass/main-elements/_header.scss */
.sandwich-icon span {
  float: right;
  background: #fff;
  content: "";
  height: 2px;
  left: 13px;
  position: absolute;
  right: 13px;
  top: 20px;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

/* line 113, ../sass/main-elements/_header.scss */
.sandwich-icon:before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 13px;
  position: absolute;
  right: 13px;
  top: 13px;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

/* line 127, ../sass/main-elements/_header.scss */
.sandwich-icon:after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 13px;
  position: absolute;
  right: 13px;
  bottom: 15px;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

/* line 140, ../sass/main-elements/_header.scss */
.sandwich-icon.active span {
  opacity: 0;
}

/* line 142, ../sass/main-elements/_header.scss */
.sandwich-icon.active:before {
  top: 21px;
  transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

/* line 149, ../sass/main-elements/_header.scss */
.sandwich-icon.active:after {
  bottom: 21px;
  transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
}

/* line 1, ../sass/main-elements/_main-footer.scss */
.main-footer {
  color: #ffffff;
  background: #3a3e64;
}
/* line 4, ../sass/main-elements/_main-footer.scss */
.main-footer .container {
  justify-content: space-between;
}

/* line 8, ../sass/main-elements/_main-footer.scss */
.main-footer__item {
  max-width: 33%;
}

/* line 11, ../sass/main-elements/_main-footer.scss */
.main-footer__address {
  max-width: 200px;
}

/* line 14, ../sass/main-elements/_main-footer.scss */
.main-footer__address__tittle,
.main-footer__social_title,
.main-footer__about_tittle {
  font-size: 25px;
  padding-bottom: 15px;
}

/* line 20, ../sass/main-elements/_main-footer.scss */
.main-footer__address__location,
.main-footer__about_content {
  line-height: 20px;
}

/* line 25, ../sass/main-elements/_main-footer.scss */
.main-footer__social_icon {
  text-decoration: none;
  border: 1px solid #ffffff;
  text-align: center;
  width: 35px;
  line-height: 35px;
  color: #ffffff;
  margin: 0 5px;
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* line 47, ../sass/main-elements/_main-footer.scss */
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 54, ../sass/main-elements/_main-footer.scss */
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* line 67, ../sass/main-elements/_main-footer.scss */
.copyright {
  background: #313454;
  text-align: center;
}

/* line 71, ../sass/main-elements/_main-footer.scss */
.copyright__content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 20px;
}

/* line 77, ../sass/main-elements/_main-footer.scss */
.red-heart {
  color: #FF0000;
}

@media screen and (max-width: 1250px) {
  /* line 2, ../sass/assets/_responsive.scss */
  .work-item {
    max-width: 50%;
  }
}
@media screen and (max-width: 1020px) {
  /* line 7, ../sass/assets/_responsive.scss */
  .testimonial__img, .testimonial__text {
    width: 100%;
  }

  /* line 10, ../sass/assets/_responsive.scss */
  .testimonial__img {
    max-height: 300px;
  }

  /* line 13, ../sass/assets/_responsive.scss */
  .testimonial__text {
    padding: 2% 5% 0;
  }

  /* line 16, ../sass/assets/_responsive.scss */
  .testimonial__text_comment {
    max-width: 100%;
  }

  /* line 19, ../sass/assets/_responsive.scss */
  .testimonial-item {
    flex-wrap: wrap;
    overflow: hidden;
  }

  /* line 23, ../sass/assets/_responsive.scss */
  .owl-dots {
    bottom: 2%;
  }
}
@media screen and (max-width: 800px) {
  /* line 29, ../sass/assets/_responsive.scss */
  .main-header__container {
    border-bottom: none;
  }

  /* line 32, ../sass/assets/_responsive.scss */
  .main-header-navigation {
    display: none;
  }

  /* line 35, ../sass/assets/_responsive.scss */
  .main-header-navigation_link {
    line-height: 25px;
  }

  /* line 38, ../sass/assets/_responsive.scss */
  .sandwich-icon {
    display: inline-block;
  }

  /* line 41, ../sass/assets/_responsive.scss */
  .main-footer .container {
    justify-content: center;
  }
  /* line 43, ../sass/assets/_responsive.scss */
  .main-footer .container .main-footer__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  /* line 53, ../sass/assets/_responsive.scss */
  .work-item {
    max-width: 100%;
  }
}
/* line 16, ../sass/index-styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
