.download-section{
  padding: 50px 0;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

.download__title{
  font-size: 35px;
}
.download__text{
  font-weight: bold;
  margin: 15px 0 30px;
}
.download_btn{
  width: 220px;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
}