.feature-item {
  max-width: 365px;
  margin: 0 10px 20px;
}
.feature-item__image{
  width: 60px;
  height: 60px;
  background: url("../images/skill-icons.png");
  display: inline-block;
}
.feature-item:nth-child(2) .feature-item__image{
  background-position-x: -60px;
  width: 73px;
}
.feature-item:nth-child(3) .feature-item__image{
  background-position-x: -133px;
  width: 41px;
}
.feature-item:nth-child(4) .feature-item__image{
  background-position-x: -174px;
  width: 56px;
}
.feature-item:nth-child(5) .feature-item__image{
  background-position-x: -230px;
  width: 72px;
}
.feature-item:nth-child(6) .feature-item__image{
  background-position-x: -302px;
  width: 79px;
}
.feature-item__title{
  font-weight: bold;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.feature-item__content{
  line-height: 18px;
  font-size: 14px;
}
